body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: #434455;
}

li,
a {
  text-decoration: none;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}
img {
  display: block;
  width: 100%;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* HEADER */

.page-header {
  border-bottom: 1px solid #e7e9fc;
}
.page-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-container {
  display: flex;
  align-items: center;
}

.list-link {
  display: flex;
  gap: 40px;
}
.list-nav {
  padding: 24px 0;
}
.address-list {
  display: flex;
  gap: 40px;
}

.logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-right: 76px;
}
.logo-studio {
  color: #2e2f42;
}
.nav-container {
  color: #2e2f42;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.nav-link {
  color: #2e2f42;
  padding: 24px 0;
}
.contacts {
  font-style: normal;
}
.contact {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.contact:hover,
.contact:focus {
  color: #404bbf;
}

/* SECTION 1 HERO */
.headline {
  background-image: url('/images/people-office-background.jpg'),
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
}
.headline .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 48px;
}
.headline {
  padding-top: 188px;
  padding-bottom: 188px;
}
.heading-main {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  max-width: 496px;
}
.button {
  background: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}

/* SECTION 2 FEATURES OF THE COMPANY  */

.container .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list-features {
  display: flex;
  gap: 24px;
}
.feature {
  width: calc((100% - 72px) / 4);
}

/* ICONS */

.container-for-icon {
  width: 264px;
  height: 112px;
  flex-shrink: 0;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid var(--lightslate, #8e8f99);
  background: var(--cloud, #f4f4fd);
}
.icon {
  fill: #f4f4fd;
}

.traling-icons {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-top: 8px;
  margin-left: 16px;
}
.ellipse-icon {
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ----------- */

.paragraph {
  font-size: 16px;
}
.heading {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}
.header {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

/* SECTION 3 TEAM OF THE COMPANY */
.list-team {
  display: flex;
  gap: 24px;
}
.team-container {
  background-color: #f4f4fd;
}
.member {
  padding: 32px 0;
}
.team-card .heading {
  text-align: center;
}
.team-card .paragraph {
  text-align: center;
}
.team-card {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

/* SECTION 4 PORTFOLIO */

.portfolio-card {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio {
  width: calc((100% - 48px) / 3);
}
.portfolio:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

/* FOOTER */

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.paragraph-footer {
  color: #f4f4fd;
  width: 264px;
}
.logo-footer {
  color: #f4f4fd;
}
.footer .logo {
  display: inline-block;
  margin-bottom: 16px;
}
.footer h3 {
  color: #ffffff;
}
.footer-wrapper {
  display: flex;
  gap: 120px;
}
.box-social-media .traling-icons {
  margin-left: 0;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}
